/*Шрифти*/
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: local('☺'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('fonts/Raleway-Regular.eot');
  src: local('☺'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.eot');
  src: local('☺'), url('fonts/Raleway-SemiBold.woff') format('woff'), url('fonts/Raleway-SemiBold.ttf') format('truetype'), url('fonts/Raleway-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url('fonts/OpenSansLight.eot');
  src: url('fonts/OpenSansLight.eot') format('embedded-opentype'), url('fonts/OpenSansLight.woff2') format('woff2'), url('fonts/OpenSansLight.woff') format('woff'), url('fonts/OpenSansLight.ttf') format('truetype'), url('fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('fonts/OpenSansRegular.eot');
  src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'), url('fonts/OpenSansRegular.woff2') format('woff2'), url('fonts/OpenSansRegular.woff') format('woff'), url('fonts/OpenSansRegular.ttf') format('truetype'), url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('fonts/OpenSansSemibold.eot');
  src: url('fonts/OpenSansSemibold.eot') format('embedded-opentype'), url('fonts/OpenSansSemibold.woff2') format('woff2'), url('fonts/OpenSansSemibold.woff') format('woff'), url('fonts/OpenSansSemibold.ttf') format('truetype'), url('fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
  font-family: 'OpenSansBold';
  src: url('fonts/OpenSansBold.eot');
  src: url('fonts/OpenSansBold.eot') format('embedded-opentype'), url('fonts/OpenSansBold.woff2') format('woff2'), url('fonts/OpenSansBold.woff') format('woff'), url('fonts/OpenSansBold.ttf') format('truetype'), url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('fonts/OpenSansExtraBold.eot');
  src: url('fonts/OpenSansExtraBold.eot') format('embedded-opentype'), url('fonts/OpenSansExtraBold.woff2') format('woff2'), url('fonts/OpenSansExtraBold.woff') format('woff'), url('fonts/OpenSansExtraBold.ttf') format('truetype'), url('fonts/OpenSansExtraBold.svg#OpenSansExtraBold') format('svg');
}
body {
  vertical-align: center;
  overflow-x: hidden;
}
body li {
  list-style-type: none;
}
body a:link,
body a:visited,
body a:hover,
body a:focus,
body a:active {
  border: 0;
  outline: 0;
}
nav.navbar-fixed-top {
  margin-top: 29px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav.navbar-fixed-top .container {
  background-color: #fff;
}
nav.navbar-fixed-top .container h1 {
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
  color: #1AB798;
  margin-top: 30px;
}
nav.navbar-fixed-top .container ul {
  margin-bottom: 0px;
}
nav.navbar-fixed-top .container ul li {
  text-transform: uppercase;
  padding: 37px 0px;
  margin-right: 30px;
  white-space: nowrap;
}
nav.navbar-fixed-top .container ul li a {
  text-decoration: none;
  color: #969596;
  font-family: 'OpenSansBold';
  font-size: 13px;
}
nav.navbar-fixed-top .container ul li a:hover {
  text-decoration: none;
  color: #282528;
}
nav.navbar-fixed-top.sticky {
  margin-top: 0px;
  position: fixed;
  height: 35px;
}
nav.navbar-fixed-top.sticky .container {
  -webkit-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
  box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
}
section#Header {
  background: url("../img/bground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  min-height: 760px;
  padding-top: 280px;
  color: #FFFFFF;
}
section#Header h1 {
  font-family: 'Raleway-Bold';
  font-size: 40px;
  margin-bottom: 0px;
}
section#Header h2 {
  margin-bottom: 50px;
  margin-top: 0px;
  font-family: 'OpenSansSemibold';
  font-size: 22px;
}
section#Header h4 {
  margin: 20px 0px;
  font-family: 'OpenSansRegular';
}
section#Header .fa-angle-right {
  margin-right: 10px;
}
section#Header button {
  margin-top: 80px;
  height: 50px;
  width: 210px;
  background-color: #1AB798;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  display: block;
}
section#Header button h4 {
  font-family: 'OpenSansSemibold';
  margin: 0 auto;
  text-align: left;
}
section#Header button #Icon_Download {
  margin: auto 20px;
}
section#Header .adaptive-tech {
  position: absolute;
  z-index: 4;
}
section#Header .adaptive-tech img#first {
  position: absolute;
  left: 640px;
  z-index: 6;
}
section#Header .adaptive-tech img#second {
  position: absolute;
  left: 700px;
  top: -63px;
  z-index: 5;
}
section#Key_Features {
  position: relative;
  z-index: 2;
  margin-bottom: 70px;
}
section#Key_Features h1 {
  font-family: 'Raleway-Bold';
  font-size: 28px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #1AB798;
}
section#Key_Features .title {
  margin-top: 120px;
  margin-bottom: 65px;
}
section#Key_Features .title img {
  margin-top: -10px;
}
section#Key_Features .paragraph {
  margin-bottom: 80px;
  font-size: 18px;
  font-family: 'OpenSansRegular';
}
section#Key_Features .Amet h4 {
  font-size: 18px;
  font-family: 'Raleway-Bold';
}
section#Key_Features .Amet p {
  font-size: 13px;
  font-family: 'OpenSansRegular';
}
section#Key_Features .Assorted {
  margin-bottom: 110px;
}
section#Key_Features .Assorted .Shape {
  margin-top: 20px;
}
section#Video {
  background-color: #31D4E7;
}
section#Video h3 {
  margin-top: 74px;
  margin-bottom: 0px;
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
  color: #222222;
}
section#Video h4 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 27px;
  color: #FFFFFF;
  line-height: 1.7;
  font-family: 'OpenSansRegular';
}
section#Video li {
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  height: 67px;
  width: 67px;
}
section#Video li.icon {
  background: url(../img/icon.png) no-repeat center;
  background-color: #0098CD;
}
section#Video li.icon1 {
  background: url(../img/icon1.png) no-repeat center;
  background-color: #0098CD;
}
section#Video li.icon2 {
  background: url(../img/icon2.png) no-repeat center;
  background-color: #0098CD;
}
section#Video li:hover {
  background-color: #222222;
}
section#Video ul.list-inline a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 140px;
  margin-left: 20px;
}
section#Video .video {
  margin-top: 120px;
}
section#Team ul {
  padding: 0;
}
section#Team .title {
  display: inline-block;
  padding-top: 92px;
  padding-bottom: 40px;
}
section#Team .title h1 {
  font-family: 'Raleway-Bold';
  font-size: 28px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #1AB798;
}
section#Team .title h1 img {
  margin-top: -10px;
}
section#Team h4 {
  font-family: 'OpenSansSemibold';
}
section#Team .layer {
  margin-top: 105px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}
section#Team .layer:hover h4 {
  color: #1AB798;
}
section#Team .layer li {
  display: inline-block;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
section#Team .layer li:hover .descr {
  top: 0;
  display: block;
}
section#Team .layer li img {
  max-width: 100%;
  display: block;
}
section#Team .layer li a {
  width: 40px;
  height: 40px;
}
section#Team .layer li a i {
  color: white;
  padding-top: 10px;
}
section#Team .layer p {
  color: #A7ABB0;
  font-size: 13px;
  font-family: 'OpenSansRegular';
}
section#Team .layer span.descr {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(26, 183, 152, 0.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
section#Team .layer span.descr ul {
  margin-left: 0px;
  margin-top: 30%;
}
section#Team .layer span.descr ul a i {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
}
section#Team .layer span.descr p {
  padding-top: 8%;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 0px;
  text-align: center;
  color: #fff;
  font-family: 'OpenSansRegular';
}
section#Customers {
  padding-top: 140px;
  padding-bottom: 190px;
}
section#Customers .carousel-indicators li {
  border: none;
  height: 10px;
  width: 10px;
  background-color: #D4D3D4;
  margin-bottom: -90px;
}
section#Customers .carousel-indicators li.active {
  background-color: #1AB798;
  border: none;
  height: 10px;
  width: 10px;
}
section#Customers .item img {
  margin: 30px auto;
  border: 3px solid #C4C7C7;
  border-radius: 500px;
}
section#Customers .item h3 {
  font-family: 'OpenSansSemibold';
  font-size: 18px;
}
section#Customers .item h5 {
  font-family: 'OpenSansRegular';
  margin: 5px auto 110px auto;
  color: #646464;
}
section#Customers .item p {
  font-family: 'OpenSansRegular';
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  line-height: 2;
}
section#Customers h1 {
  font-size: 28px;
  font-family: 'Raleway-Bold';
  margin: 0 auto;
  text-transform: uppercase;
  color: #1AB798;
}
section#Customers img {
  margin-top: -10px;
}
section#Contacts {
  background: url("../img/contacts.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'OpenSansRegular';
}
section#Contacts h2 {
  font-family: 'Raleway-Regular';
  margin: 0 auto;
}
section#Contacts p {
  font-size: 14px;
  font-family: 'OpenSansRegular';
}
section#Contacts .title {
  margin-top: 66px;
  margin-bottom: 95px;
}
section#Contacts .title img {
  margin-top: -10px;
}
section#Contacts .title h1 {
  font-size: 28px;
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
}
section#Contacts ul.socials li {
  border-radius: 500px;
  vertical-align: middle;
  margin-right: 14px;
  margin-top: 40px;
  margin-bottom: 29px;
  width: 40px;
  height: 40px;
}
section#Contacts ul.socials li.f {
  background-color: #3B5997;
}
section#Contacts ul.socials li.t {
  background-color: #3EC2F3;
}
section#Contacts ul.socials li.g {
  background-color: #E44C41;
}
section#Contacts ul.socials li:hover {
  opacity: 0.6;
}
section#Contacts ul.socials li a i {
  font-size: 23px;
  color: #fff;
}
section#Contacts ul.socials li a i.fa-facebook {
  padding: 9px;
}
section#Contacts ul.socials li a i.fa-twitter {
  padding: 9px 6px;
}
section#Contacts ul.socials li a i.fa-google-plus {
  padding: 8px 1px;
}
section#Contacts ul.contacts a {
  color: #BFACE2;
  text-decoration: none;
}
section#Contacts ul.contacts a:hover {
  color: #fff;
}
section#Contacts .form-group input#Name {
  min-height: 40px;
}
section#Contacts .form-group input#Email {
  min-height: 40px;
}
section#Contacts .form-group input#Message {
  height: 179px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section#Contacts .form-group button.btn-default {
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
  font-size: 22px;
  background-color: #31D4E7;
  height: 50px;
  width: 170px;
  color: #fff;
  margin-bottom: 55px;
}
section#Contacts #Footer {
  padding-top: 40px;
  padding-bottom: 25px;
  border-top: 1px solid #EAEAEA;
}
section#Contacts #Footer p,
section#Contacts #Footer a {
  color: #EAEAEA;
}
/*============    	АДАПТИВ    ===========*/
.dropdown-toggle {
  border: 1px solid #000;
  padding: 10px 10px;
  border-radius: 5px;
  color: #1AB798;
  margin-left: -10px;
}
.dropdown-toggle:hover {
  background-color: #1AB798;
  color: #fff;
}
.dropdown-toggle i {
  margin-top: 15px;
  font-size: 16px;
}
@media (min-width: 0px) and (max-width: 320px) {
  nav.navbar-fixed-top {
    margin-top: 10px;
  }
  nav.navbar-fixed-top .container h1 {
    font-size: 20px;
    margin: 12px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu {
    margin-top: 25px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu li {
    padding: 10px;
  }
  nav.navbar-fixed-top.sticky {
    margin-top: 0px;
    position: fixed;
    height: 0px;
  }
  nav.navbar-fixed-top.sticky .container {
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
  }
  section#Header {
    padding-top: 130px;
    height: 750px;
  }
  section#Header h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  section#Header h2 {
    font-size: 13px;
    text-align: center;
  }
  section#Header h4 {
    font-size: 12px;
    margin-left: 10%;
  }
  section#Header button {
    width: auto;
    margin: 80px auto 0px auto;
  }
  section#Header button h4 {
    font-size: 12px;
  }
  section#Header button #Icon_Download {
    margin: auto 5px;
  }
  section#Header .adaptive-tech {
    position: static;
  }
  section#Header .adaptive-tech img#first {
    width: 120px;
    position: absolute;
    left: 25%;
    margin: auto;
    top: 598px;
  }
  section#Header .adaptive-tech img#second {
    width: 133px;
    position: absolute;
    left: 33%;
    top: 576px;
  }
  section#Key_Features {
    margin-bottom: 20px;
  }
  section#Key_Features h1 {
    font-size: 16px;
  }
  section#Key_Features .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section#Key_Features .title img {
    margin-top: -5px;
  }
  section#Key_Features .paragraph p {
    font-size: 12px;
  }
  section#Key_Features .Amet h4 {
    font-size: 14px;
  }
  section#Key_Features .Amet p {
    font-size: 12px;
  }
  section#Key_Features .Assorted {
    margin-bottom: 0px;
  }
  section#Video {
    text-align: center;
  }
  section#Video h3 {
    font-size: 18px;
  }
  section#Video h4 {
    font-size: 12px;
  }
  section#Video li {
    height: 50px;
    width: 50px;
  }
  section#Video ul {
    align: center;
    text-align: center;
  }
  section#Video ul.list-inline a {
    margin: auto 8px ;
  }
  section#Video .video {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  section#Team {
    text-align: center;
    margin: 0 auto;
  }
  section#Team .title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section#Team .title h1 {
    font-size: 16px;
  }
  section#Team .title h1 img {
    margin-top: -5px;
  }
  section#Team h4 {
    font-size: 14px;
  }
  section#Team .layer {
    margin-top: 50px;
    width: 99%;
  }
  section#Customers {
    padding-top: 30px;
    padding-bottom: 120px;
  }
  section#Customers h1 {
    font-size: 16px;
  }
  section#Customers .title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  section#Customers .title img {
    margin-top: -5px;
  }
  section#Customers .item h3 {
    font-size: 16px;
  }
  section#Customers .item h5 {
    margin: 5px auto 20px auto;
  }
  section#Customers .item p {
    font-size: 10px;
  }
  section#Contacts {
    text-align: center;
  }
  section#Contacts .title {
    margin-top: 20x;
    margin-bottom: 50px;
  }
  section#Contacts .title img {
    margin-top: -5px;
  }
  section#Contacts .title h1 {
    font-size: 16px;
  }
  section#Contacts h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  section#Contacts p {
    font-size: 12px;
  }
  section#Contacts ul {
    text-align: center;
  }
  section#Contacts .form-group input#Name {
    margin-bottom: 30px;
  }
  section#Contacts .form-group button.btn-default {
    font-size: 14px;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-bottom: 30px;
  }
  section#Contacts #Footer p,
  section#Contacts #Footer a {
    text-align: center;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  nav.navbar-fixed-top {
    margin-top: 10px;
  }
  nav.navbar-fixed-top .container h1 {
    font-size: 20px;
    margin: 12px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu {
    margin-top: 25px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu li {
    padding: 10px;
  }
  nav.navbar-fixed-top.sticky {
    margin-top: 0px;
    position: fixed;
    height: 0px;
  }
  nav.navbar-fixed-top.sticky .container {
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
  }
  section#Header {
    padding-top: 130px;
    height: 800px;
  }
  section#Header h1 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  section#Header h2 {
    font-size: 13px;
    text-align: center;
  }
  section#Header h4 {
    font-size: 12px;
    margin-left: 10%;
  }
  section#Header button {
    margin: 80px auto 0px auto;
  }
  section#Header button h4 {
    font-size: 16px;
  }
  section#Header .adaptive-tech {
    position: static;
    width: 100%;
  }
  section#Header .adaptive-tech img#first {
    width: 200px;
    position: absolute;
    left: 12%;
    margin: auto;
    top: 529px;
  }
  section#Header .adaptive-tech img#second {
    width: 222px;
    position: absolute;
    left: 19%;
    top: 493px;
  }
  section#Key_Features {
    margin-bottom: 20px;
  }
  section#Key_Features h1 {
    font-size: 16px;
  }
  section#Key_Features .title {
    margin-top: 75px;
    margin-bottom: 40px;
  }
  section#Key_Features .title img {
    margin-top: -5px;
  }
  section#Key_Features .paragraph p {
    font-size: 12px;
  }
  section#Key_Features .Amet {
    margin: 0 auto;
    text-align: center;
  }
  section#Key_Features .Amet h4 {
    font-size: 14px;
  }
  section#Key_Features .Amet p {
    font-size: 12px;
  }
  section#Key_Features .Assorted {
    margin-bottom: 0px;
    vertical-align: middle;
  }
  section#Key_Features .Assorted .Shape img.img-responsive {
    margin: 0 auto;
  }
  section#Key_Features #screen {
    margin-top: 20px;
  }
  section#Key_Features #screen img.img-responsive {
    margin: 0 auto;
  }
  section#Video {
    text-align: center;
  }
  section#Video h3 {
    font-size: 18px;
  }
  section#Video h4 {
    font-size: 12px;
  }
  section#Video li {
    height: 50px;
    width: 50px;
  }
  section#Video ul {
    align: center;
    text-align: center;
  }
  section#Video ul.list-inline a {
    margin: auto 8px ;
  }
  section#Video .video {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  section#Team {
    text-align: center;
    margin: 0 auto;
  }
  section#Team .title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section#Team .title h1 {
    font-size: 16px;
  }
  section#Team .title h1 img {
    margin-top: -5px;
  }
  section#Team h4 {
    font-size: 14px;
  }
  section#Team .layer {
    text-align: center;
    margin-top: 50px;
    width: 99%;
  }
  section#Team .layer li {
    display: block;
    max-width: 270px;
    margin: 0 auto;
  }
  section#Team .layer li span.descr ul {
    margin-left: 0px;
  }
  section#Team .layer li span.descr ul a {
    display: inline-block;
  }
  section#Customers {
    padding-top: 30px;
    padding-bottom: 120px;
  }
  section#Customers h1 {
    font-size: 16px;
  }
  section#Customers .title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  section#Customers .title img {
    margin-top: -5px;
  }
  section#Customers .item h3 {
    font-size: 16px;
  }
  section#Customers .item h5 {
    margin: 5px auto 20px auto;
  }
  section#Customers .item p {
    font-size: 10px;
  }
  section#Contacts {
    text-align: center;
  }
  section#Contacts .title {
    margin-top: 20x;
    margin-bottom: 50px;
  }
  section#Contacts .title img {
    margin-top: -5px;
  }
  section#Contacts .title h1 {
    font-size: 16px;
  }
  section#Contacts h2 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  section#Contacts p {
    font-size: 12px;
  }
  section#Contacts ul {
    text-align: center;
  }
  section#Contacts .form-group input#Name {
    margin-bottom: 30px;
  }
  section#Contacts .form-group button.btn-default {
    font-size: 14px;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-bottom: 30px;
  }
  section#Contacts #Footer p,
  section#Contacts #Footer a {
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  nav.navbar-fixed-top {
    margin-top: 10px;
  }
  nav.navbar-fixed-top .container h1 {
    font-size: 20px;
    margin: 12px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu {
    margin-top: 25px;
  }
  nav.navbar-fixed-top .container ul.dropdown-menu li {
    padding: 10px;
  }
  nav.navbar-fixed-top.sticky {
    margin-top: 0px;
    position: fixed;
    height: 0px;
  }
  nav.navbar-fixed-top.sticky .container {
    -webkit-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
    box-shadow: 1px 9px 15px -9px rgba(0, 0, 0, 0.63);
  }
  section#Header {
    padding-top: 130px;
    height: 850px;
  }
  section#Header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
  }
  section#Header h2 {
    font-size: 22px;
    text-align: center;
  }
  section#Header h4 {
    font-size: 16px;
    margin-left: 10%;
  }
  section#Header button {
    margin: 80px auto 0px auto;
  }
  section#Header button h4 {
    font-size: 16px;
  }
  section#Header .adaptive-tech {
    position: static;
    width: 100%;
  }
  section#Header .adaptive-tech img#first {
    width: 200px;
    position: absolute;
    left: 28%;
    margin: auto;
    top: 580px;
  }
  section#Header .adaptive-tech img#second {
    width: 222px;
    position: absolute;
    left: 33%;
    top: 544px;
  }
  section#Key_Features {
    margin-bottom: 20px;
  }
  section#Key_Features #screen_big {
    margin-top: 60px;
  }
  section#Key_Features .title {
    margin-top: 75px;
    margin-bottom: 40px;
  }
  section#Key_Features .title img {
    margin-top: -5px;
  }
  section#Key_Features .paragraph p {
    font-size: 16px;
  }
  section#Key_Features .Amet {
    margin: 0 auto;
    text-align: center;
  }
  section#Key_Features .Amet h4 {
    font-size: 14px;
  }
  section#Key_Features .Amet p {
    font-size: 14px;
  }
  section#Key_Features .Assorted {
    margin-bottom: 0px;
    vertical-align: middle;
  }
  section#Key_Features .Assorted .Shape img.img-responsive {
    margin: 0 auto;
  }
  section#Key_Features #screen {
    margin-top: 20px;
  }
  section#Key_Features #screen img.img-responsive {
    margin: 0 auto;
  }
  section#Video {
    text-align: center;
  }
  section#Video li {
    height: 50px;
    width: 50px;
  }
  section#Video ul {
    align: center;
    text-align: center;
  }
  section#Video ul.list-inline a {
    margin: auto 8px ;
  }
  section#Video .video {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  section#Team {
    text-align: center;
    margin: 0 auto;
  }
  section#Team .title {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section#Team .title img {
    margin-top: -5px;
  }
  section#Team h4 {
    font-size: 14px;
  }
  section#Customers {
    padding-top: 30px;
    padding-bottom: 120px;
  }
  section#Customers .title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  section#Customers .title img {
    margin-top: -5px;
  }
  section#Customers .item h5 {
    margin: 5px auto 20px auto;
  }
  section#Customers .item p {
    font-size: 10px;
  }
  section#Contacts {
    text-align: center;
  }
  section#Contacts .title {
    margin-top: 20x;
    margin-bottom: 50px;
  }
  section#Contacts .title img {
    margin-top: -5px;
  }
  section#Contacts h2 {
    padding-bottom: 10px;
  }
  section#Contacts ul {
    text-align: center;
  }
  section#Contacts .form-group input#Name {
    margin-bottom: 30px;
  }
  section#Contacts .form-group button.btn-default {
    font-size: 14px;
    height: 40px;
    width: 120px;
    color: #fff;
    margin-bottom: 30px;
  }
  section#Contacts #Footer p,
  section#Contacts #Footer a {
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  section#Header .adaptive-tech img#first {
    left: 410px;
    height: 385px;
    width: 222px;
    top: 180px;
  }
  section#Header .adaptive-tech img#second {
    left: 400px;
    height: 425px;
    width: 245px;
    left: 449px;
    top: 140px;
  }
  section#Key_Features .Assorted {
    margin-bottom: 0px;
  }
  section#Key_Features #screen {
    margin-top: 40px;
  }
  section#Video {
    text-align: center;
  }
  section#Video li {
    height: 50px;
    width: 50px;
  }
  section#Video ul {
    align: center;
    text-align: center;
  }
  section#Video ul.list-inline a {
    margin: auto 8px ;
  }
  section#Video .video {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  section#Header .adaptive-tech img#first {
    left: 440px;
  }
  section#Header .adaptive-tech img#second {
    left: 500px;
  }
  section#Team .layer span.descr ul {
    margin-top: 40%;
  }
}
/*h1 – 32 пикселя.

h2 – 24 пикселя.

h3 – 19 пикселям.

h4 – 16 пикселей.

h5 – 13 пикселей.

h6 – 11 пикселей.*/

/*# sourceMappingURL=style.css.map */